<html>

  <head>
    <title>Bell</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <style>
      body {
        padding-top: 0px;
    }
    div.fixed {
    position: fixed;
    top: 80;
    left: 275;
}
    </style>
  </head>
  <body>
    {% include 'includes/_navbar_bell.html' %}
    <div class="container">
      {% block body %}{% endblock %}
    </div>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js"></script>

  </body>
  </html>
