{% extends 'ad_layout.html' %}

{% block body %}

<div class="panel panel-default">
  <div class="panel-heading">Edit Tuesday Bell Times</div>

  <!-- Table -->
  <table class="table">

    <tr>
      <th>Event Name</th>
      <th>Ring Time</th>
    </tr>
    {% for events in events %}
    <tr>
      <td>{{events.EventName}}</td>
      <td>{{events.RingTime}}</td>
      <td><a href="/ad_editEvent?id={{events.EventID}}">Edit</a>
      <td><a href="/ad_deleteEvent?id={{events.EventID}}">Delete</a>
      {% endfor %}
  </table>
</div>
{% endblock %}
