{% extends 'ad_layout.html' %}
{% block body %}

<div class="row">
  <div class="fixed">
    <h4>Pick the day(s) you would like to create light times for. The event will be created for all the days checked.</h4>
    <b><font color= red>{{result}}</font><b>
    <form method="POST" class="container">
      <label class="input-group">
    <span class="input-group-addon">
      <label class="checkbox-inline">
      <input type="checkbox" name="day" value="Monday">Monday
    </label>
    <label class="checkbox-inline">
      <input type="checkbox" name="day" value="Tuesday">Tuesday
    </label>
    <label class="checkbox-inline">
      <input type="checkbox" name="day" value="Wednesday">Wednesday
    </label>
    <label class="checkbox-inline">
      <input type="checkbox" name="day"value="Thursday">Thursday
    </label>
    <label class="checkbox-inline">
      <input type="checkbox" name="day" value="Friday">Friday
    </label>
</span>
    </label>
    <br>
    <div class="input-group">
  <input type="text" name="eventname" value="{{request.form.eventname}}"class="form-control" placeholder="Event Name: E.g. Lunch" aria-describedby="basic-addon2" /required>
  <br><br><br>
  <input type="time" min="00:00" max="23:59" name="RingTime" value="{{request.form.RingTime}}"class="form-control" placeholder="Ring Time: E.g. 08:00:00" aria-describedby="basic-addon2" /required>
  <br><br><br>
  <input type="number" min="0" max="1000" name="RingDuration" value="{{request.form.RingDuration}}"class="form-control" placeholder="Ring Duration (Seconds): E.g. 360" aria-describedby="basic-addon2" /required>
  <br><br><br>
  <input class="btn btn-block btn-info ripple-effect" type="submit" value="Save">
</div>
  </form>

  {% endblock %}
